*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    background-image: url(./fundo\ teste.svg);
    grid-template-rows: 125px 1fr 125px;
}

.forma{
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    align-items: flex-end;
    position: relative;
    left: 129%;
    height: 20%;
}

.titulo{
    font-family: 'Montserrat', sans-serif;

}

#LetraA{
    padding-left: 35px;
    font-size: 160px;
    font-family: 'Karantina', cursive;
    color: #FF1414;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: black 0.01em 0.01em 0.02em;
}

#LetraB{
    padding-left: 100px;
    font-size: 210px;
    font-family: 'Karantina', cursive;
    position: absolute;
    bottom: 290px;
    color: #FF1414;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: black 0.01em 0.01em 0.02em;
}

#LetraC{
    padding-left: 200px;
    font-size: 170px;
    font-family: 'Karantina', cursive;
    position: absolute;
    bottom: 240px;
    color: #FF1414;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: black 0.01em 0.01em 0.02em;
}

#LetraD{
    padding-left: 60px;
    font-size: 170px;
    font-family: 'Karantina', cursive;
    position: absolute;
    bottom: 110px;
    color: #FF1414;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: black 0.01em 0.01em 0.02em;
}

#LetraE{
    padding-left: 135px;
    font-size: 200px;
    font-family: 'Karantina', cursive;
    position: absolute;
    bottom: 130px;
    color: #FF1414;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: black 0.01em 0.01em 0.02em
}

#desenho1{
    position: absolute;
    bottom: 227px;
}

#desenho2{
    position: absolute;
    bottom: 165px;
    padding-left: 180px;
}

#desenho3{
    position: absolute;
    bottom: 290px;
    padding-left:240px;
}

#desenho4{
    position: absolute;
    bottom: 380px;
    padding-left: 170px;
}

#desenho5{
    position: absolute;
    bottom: 420px;
}

.esfiha{
    position: absolute;
    right: 180px;
    bottom: 50px;    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    margin-top: 0;
}

h1{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #DD4444;
}

.itens{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 30px;
    height: 60;
}

.barra{
    padding-right: 10px;
    background-color: #DD4444;
    border: 2.5px solid black;
    padding-left: 10px;
    border-radius: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    line-height: 32px;
    margin-right: 50px;
    margin-top: 10px;
}

.options{
    font-family: 'Montserrat', sans-serif;
    display: contents;
    font-weight: 600;
    font-size: 1em;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #000000;
    gap: 20px;

}

.option::after{
    content: '';
    display: block;
    width: auto;
    height: 2px;
    background-color: #DD4444;
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.4s;
}

.option:hover::after{
    opacity: 1;
}

.option:hover{
    cursor: pointer;
}

.icons:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding-left: 100px;
    width: 48%;
}

.formamaior{
    background-image: url(./forma\ maior.png);
    padding-left: 26cm;
    bottom: 500px;
}

.botao{
    background-color: #DD4444;
    width: 195px;
    height: 54px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-left: 60px;
    margin-top: 30px;
    border: 2.5px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gp_botão{
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: flex-start;
}

.botao:hover{
    background-color: white;
    color: #DD4444;
    border: solid;
    border-color: black;
    cursor: pointer;
}

#cadastro{
    justify-content: center;
    align-items: center;
}

#sessao{
    justify-content: center;
    align-items: center;
}